.detailsList{
  position: relative;
  color: white;
  font-family: 'Varela Round', sans-serif;
  max-height: calc(100vh - 110px);
  overflow: auto;
  overflow-x: hidden;
  text-align: right;
  padding: 0 20px;
}

.scroll-spacing{
  width: calc(100% - 5px);
  max-height: calc(100vh - 110px);
}

.detailsList h1{
  font-weight: normal;
  font-family: 'Pacifico', sans-serif;
  font-size: 40px;
  color:orange;
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

.detailsList h4{
  margin: 0;
  font-weight: normal;
  font-family: 'Pacifico', sans-serif;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
