<!--The content below is only a placeholder and can be replaced.-->
<div id="banner" class="fullcontainer">
  <div id="scene" data-hover-only="true" class="scene">
    <div data-depth="0.10"><img src="../assets/images/logo.png"/></div>
    <div data-depth="0.15"><h1>Karken</h1></div>
    <div data-depth="0.20"><h3>Share a travel!</h3></div>
  </div>
  <div class="nav-logo"><a href="/"><img src="../assets/images/logo-orange.png"/></a></div>
</div>
<app-navi></app-navi>
<router-outlet></router-outlet>
