<!--The content below is only a placeholder and can be replaced.-->
<div id="container" class="container">
  <div id="scene" class="scene">
    <div data-depth="0.00" class="shadow" style="color: yellow"><h1>Karken</h1></div>
    <div data-depth="0.02" style="color: orange"><h1>Karken</h1></div>
    <div data-depth="0.04" style="color: black"><h1>Karken</h1></div>
  </div>


  <script>
    var scene = document.getElementById('scene');
    var parallax = new Parallax(scene);
  </script>
</div>
<app-navi></app-navi>
