.scene{
  position: relative;
  width: 100%;
  display: block;
  min-height: 300px;
  background-color: rgba(0,0,0,.7);
}

.shadow{
  text-shadow: 0 0 10px black;
}

.scene img{
  position: relative;
  top: -210px;
  width: 80%;
}

.scene div{
  width: 100%;
  text-align: center;
}

.scene h1{
  position: relative;
  font-size: 8vw;
  font-weight: normal;
  color: orange;
  text-shadow: 0 0 5px black;
}

.scene h3{
  position: relative;
  top: 8vw;
  font-size: 4vw;
  font-weight: normal;
  color: white;
  text-shadow: 0 0 5px black;
}

.container {
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  overflow: hidden;
  background-color: #111;
  background-image: url("../assets/images/banner-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -10vw;
  background-repeat: no-repeat;
}
