.scene{
  position: relative;
  width: 100%;
  display: block;
}

.scene img{
  position: relative;
  top: -210px;
  width: 80%;
}

.scene div{
  width: 100%;
  text-align: right;
}

.scene h1{
  position: relative;
  bottom: -6vw;
  font-size: 15vw;
}

.container {
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  overflow: hidden;
  background-color: #111;
  background-image: url("../assets/images/banner-bg.jpg");
  background-attachment: fixed;
  background-position-y: -100px;
  background-size: 100%;
}
