<div class="container">

  Partenze
  <input [(ngModel)]="trip.partenza" (keyup)="search1(trip.partenza)" />
  <ul>
    <li *ngFor="let travel of part$ | async" >
      <a (click) = "trip.partenza=travel.partenza">{{travel.partenza}}</a>
    </li>
  </ul>

  Arrivi
  <input [(ngModel)]="trip.destinazione" (keyup)="search2(trip.destinazione)" />
  <ul>
    <li *ngFor="let travel of dest$ | async" >
      <a (click) = "trip.destinazione=travel.destinazione">{{travel.destinazione}}</a>
    </li>
  </ul>


  <p>Path "/dates"</p>
  <div class="contacts">
    <div class="contact" *ngFor="let travel of travels | filter:trip">
      <p>{{travel.destinazione + " " + travel.data_arrivo}}</p>
    </div>
  </div>
</div>
