nav {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

img {
  padding: 24px;
  width: 24px;
  border-radius: 100%;
}

img:hover, img:active{
  background-color: orange;
  width: 27px;
}
