nav {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  text-align: center;
}

img {
  width: 24px;
  /*border-radius: 100%;*/
  transition: width ease 0.3s;
}

.nav-btn {
  position: relative;
  top: 0;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  background-color: #222;
  border-radius: 100%;
  padding: 10px;
  margin: 20px;
  transition: background-color ease 0.3s, border-color ease 0.3s, width ease 0.3s, height ease 0.3s, margin ease 0.3s;
  outline: none;
}

.nav-btn:hover, .nav-btn:active {
  border-color: orange;
  background-color: orange;
  width: 30px;
  height: 30px;
  margin: 17px;
  cursor: pointer;
  outline: none;
}

.nav-btn:hover img {
  width: 30px;
}

hr{
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 45px;
  border-top: 1px solid black;
  border-bottom: 1px solid transparent;
}


