/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Pacifico', sans-serif;
  background-color: #222;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.container{
  z-index: 1;
  position: absolute;
  color: white;
  font-family: 'Varela Round', sans-serif;
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
  margin-top: 386px;
  margin-bottom: 20px;
  transition: margin-top ease 0.3s,
              top ease 0.3s;
  /*background-color: red;*/
  max-height: calc(100vh - 86)
}
