.container{
  z-index: 1;
  position: relative;
  color: white;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: calc(100vh - 110px);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: inset -3px 3px 8px rgba(0,0,0,.5);
}

.datesList{
  z-index: 1;
  position: relative;
  color: white;
  font-family: 'Varela Round', sans-serif;
  max-height: calc(100vh - 110px);
  width: 80%;
  margin-left: 0px;

}

div.contact{
  direction: ltr;
  transition: color ease 0.5s, background ease 0.3s;
}

.searchbar{
  padding: 7px 7px 7px 9px;
  height: 35px;
  width: 100%;
  /*background-image: url('../../assets/images/contact-bg.png');*/
  background-position-x: 0;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 3px 3px 8px rgba(0,0,0,.5);
}
